<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodcuts</title>
</head>
<body>
  
    <h1>Productos Disponibles para cargar al carrito</h1>
    <ul>
        {{#each products.docs}}
            <li>Nombre: {{this.title}} &nbsp; ID: {{this._id}} &nbsp; <button type="submit">Agregar al carrito</button></li>
        {{/each}}
    </ul>

    <div>
        {{#if products.hasPrevPage}}
            <a href="{{products.prevLink}}"> << Anterior</a>
        {{/if}}
        &nbsp;
        {{products.page}}
        &nbsp;
        {{#if products.hasNextPage}}
            <a href="{{products.nextLink}}">Siguiente >></a>
        {{/if}}
    </div>

</body>
</html>